


<div class="carousel slide" id="mountains" data-ride="carousel">


  <div class="carousel-caption logodiv ">



    <a href="/"> <%=image_tag 'logo.svg', class:"logo"%> </a>


  </div>

  <div class="carousel-inner  ">

    <div class="carousel-caption ">

      <h1 class="titlecaption">Coming Soon</h1>
      <div class="innerborder ">


        <%=image_tag 'playstore.png', class:"appstore", onclick:"comingSoon()"%>
        <%=image_tag 'appstore.png', class:"appstore", onclick:"comingSoon()" %>

      </div>
    </div>

    <div class="item active ">

      <%=image_tag 'websiteshroom.png', class:"screenshot"%>
    </div>
    <div class="item ">
      <%=image_tag 'websitehigh.png', class:"screenshot"%>
    </div>
    <div class="item ">
      <%=image_tag 'websitemain.png', class:"screenshot"%>
    </div>


    
  </div>
</div>
<script>
function comingSoon() {
  alert("Stay Tuned, Coming Soon!");
}
</script>
