

<div id="laddin"></div>
<div id="wrap"><%=image_tag 'wrap.svg', class:"wrap"%></div>
<div id="wrap1"><%=image_tag 'wrap.svg', class:"wrap1"%></div>




<div class="carousel slide" id="mountains" data-ride="carousel">


  <div class="carousel-caption logodiv ">



 <%=image_tag 'logo.svg', class:"logo"%>


  </div>

  <div class="carousel-inner  ">

    <div class="carousel-caption ">

      <h1 class="titlecaption">Coming Soon</h1>
      <div class="social ">
        <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.tapladdin.com%2F&t">
          <%=image_tag 'facebook.svg', class:"social"%></a>
          <a href="https://plus.google.com/share?url=www.tapladdin.com">
            <%=image_tag 'google.svg', class:"social"%></a>

            <a href="https://twitter.com/home?status=Check%20out%20@TapLaddin%20for%20iOS%20%26%20Android%20on%20www.tapladdin.com" >
              <%=image_tag 'twitter.svg', class:"social"%></a>


            </div>

            <div class="innerborder ">


              <%=image_tag 'playstore.png', class:"appstore", onclick:"comingSoon()"%>
              <%=image_tag 'appstore.png', class:"appstore", onclick:"comingSoon()" %>
              <br>
              <%= audio_tag "laddin.mp3",volume:0.5, controls: true, loop: true %>
</br>

            </div>
          </div>

          <div class="item active" id="levelShroom">
            <%=image_tag 'websiteshroom.png', class:"screenshot"%>

            <div class="firstslide">
<%=image_tag 'google.svg', class:"screenshot"%>

          </div>
        </div>

          <div class="item" id="levelHigh">
            <%=image_tag 'websitehigh.png', class:"screenshot"%>
          </div>
          <div class="item" id="levelDrink">
            <%=image_tag 'websitemain.png', class:"screenshot"%>
          </div>



        </div>
      </div>
      <script>
      function comingSoon() {
        alert("Stay Tuned, Coming Soon!");
      }

      function slideChanged() {
        $('#laddin').attr('class',$('.item.active').attr('id') + ' ready');
      }

      $('#mountains')
        .on('slid.bs.carousel', slideChanged);

      </script>
<script>$('.carousel').carousel({
  interval: 6000
})</script>
<script>
$("#wrap").click(function() {
            $(this).hide();
            var div = document.getElementById("tune");
            div.parentNode.removeChild(div);
        });
</script>
