<!DOCTYPE html>
<html>
<head>
  <title>Tap Laddin ~ iOS & Android</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Tap-Laddin! Help Laddin conquer the world while on dodgy substances. Available now on #Android http://goo.gl/ZSSUoV  & #iOS http://goo.gl/uV91NS  " />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content='<%= image_url("websiteshroom.png") %>'>
  <meta content="Tap Laddin ~ Free game for iOS and Android. Download Now" property="og:description" />
</head>
<body>

<%= yield %>

</body>
</html>
